body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.web-layout {
  display: grid;

  grid-template-areas:
    "header"
    "menu-sup-1"
    "menu-sup-2"
    "price"
    "pie-de-pagina";
  min-height: 100dvh;
}
.header {
  grid-area: header;
  background-color: #be2ef6;
}
.menu-sup-1 {
  grid-area: menu-sup-1;
  background-color: #dda6f2;
}
.menu-sup-2 {
  grid-area: menu-sup-2;
  background-color:blueviolet;
}
.texto-menu-sup-2{
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  align-items: center;
  height: 20px;
}
.texto-menu-sup-2{
  font-size: 20px;
  font-weight: 600;
}
.price {
  grid-area: price;
  background-color: tomato;
}
.pie-de-pagina {
  grid-area: pie-de-pagina;
  background-color: cadetblue;
}
.material-symbols-outlined{
  font-size: 100px;
  display: flex;
  justify-content: center;

}
.icon{
  display: flex;
  justify-content:space-around;
  border: 1px solid black;
}
.card-icon{
  background-color: blueviolet;
  display: flex;
  flex-direction: column;

}
.card-icon > p{
display: flex;
justify-content: center;
}
.pie-de-pagina{
  display: flex;
  justify-content:space-around;
  padding: 50px;
  border: 1px solid black;
}
.rrss > a > img{
  width: 30px;
}